<!-- app.component.html -->
<div class="home-page">
  <header class="header">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <h2>ONLINE ARTGALLERY MANAGEMENT SYSTEM</h2>
  </header>

  <nav class="navigation">
    <ul>
      <li><a routerLink="/sign"><i class="material-icons">person</i> Sign</a></li>
      <li><a routerLink="/home"></a></li>
      <li><a routerLink="/overview"><i class="material-icons">grade</i>Overview</a></li>
      <li><a routerLink="/artist"><i class="material-icons">palette</i> Artists</a></li>
      <li><a routerLink="/shop"><i class="material-icons">store</i> Shop</a></li>
      <li><a routerLink="/cart"><i class="material-icons">shopping_cart</i> Cart</a></li>
      <li><a routerLink="/exhibition"><i class="material-icons">event</i> Exhibitions</a></li>
      <li><a routerLink="/form"></a></li>
      <li><a routerLink="/success"></a></li>
      
    </ul>
  </nav>
  

 
    <router-outlet></router-outlet>
    
 